<html>
	<head>
		{% if title %}
		<title>{{ title }} - Shoe Log</title>
		{% else %}
		<title>Welcome to Shoe Log</title>
		{% endif %}
	</head>
	<body>
		<div>
		Shoe Log: 
		<a href="{{ url_for('index') }}">Home</a>
		{% if current_user.is_anonymous %}
		<a href="{{ url_for('login') }}">Log in</a>
		{% else %}
		<a href="{{ url_for('logout') }}">Log out</a>
		<a href="{{ url_for('logrun') }}">Log run</a>
		{% endif %}
		<a href="{{ url_for('viewshoes')}}">Shoe miles</a>
		</div>
		<hr>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}
	</body>
</html>